Goal for this project is to do my first machine learning project.  

Want to take all the stats for Madden 18 players, and see if I can correctly categorize them into offense, defense, or special teams using machine learning. 

While I think some of it should be pretty easy (for example, only punters should be good at punting), I bet there will be some instance where it is a little more difficult (the difference between wide recievers and corner backs).  

Also curious to see how accurate I can get with different amount of data.  My initial reaction is that more data is always better, but it might lead to over fitting.  So could I do it with a little bit of data?

Also, think it would be a good way to explore some different ML algorithms.  Conceptiionally, I think SVM and K-means clutering would be good to look at.  But also, maybe decision trees and random forest?  Let's find out

In [1]:
import pandas as pd
import matplotlib as plt
import seaborn as sns
#import sklean as

In [3]:
df = pd.read_csv("player_stat_18.csv")

In [4]:
df.head()

,Last Name,First Name,Position,Dev Trait,Overall Rating,Speed,Acceleration,Strength,Agility,Awareness,...,Height,Weight,Age,Birthdate,Years Pro,College,Total Salary,Signing Bonus,Handedness,portraitId
0,Juszczyk,Kyle,FB,QUICK,91,82,88,79,78,85,...,73,240,26,4/23/91,4,Harvard,15600000,5000000,Right,6869
1,Bowman,NaVorro,MLB,STAR,88,83,87,80,83,90,...,72,242,29,5/28/88,7,Penn State,42750000,10000000,Left,480
2,Garcon,Pierre,WR,-,85,89,91,66,87,92,...,72,211,31,8/8/86,9,Mount Union,35000000,7000000,Right,1209
3,Dumervil,Elvis,RE,-,83,75,82,78,78,91,...,71,255,33,1/19/84,11,Louisville,5000000,2000000,Right,1004
4,Hyde,Carlos,HB,-,83,88,90,81,91,84,...,72,228,26,9/20/90,3,Ohio State,3600000,1600000,Right,6456

In [5]:
df.tail()

,Last Name,First Name,Position,Dev Trait,Overall Rating,Speed,Acceleration,Strength,Agility,Awareness,...,Height,Weight,Age,Birthdate,Years Pro,College,Total Salary,Signing Bonus,Handedness,portraitId
2348,Wilson,Eric,LOLB,-,61,86,90,74,85,50,...,74,225,22,9/26/94,0,Cincinnati,1665000,0,Right,0
2349,Heinicke,Taylor,QB,-,58,84,83,53,78,52,...,73,210,24,3/15/93,2,Old Dominion,1570000,0,Right,7169
2350,Carter,Kyle,TE,-,57,84,86,70,82,40,...,75,245,24,12/17/92,1,Penn State,1020000,0,Right,7941
2351,Robinson,Edmond,LOLB,-,57,85,88,72,79,45,...,75,245,25,1/1/92,2,Newberry College,1800000,200000,Right,7591
2352,McDermott,Kevin,TE,-,50,72,81,64,70,60,...,77,240,27,1/12/90,4,UCLA,3960000,0,Right,6779

In [6]:
df.sample(5)

,Last Name,First Name,Position,Dev Trait,Overall Rating,Speed,Acceleration,Strength,Agility,Awareness,...,Height,Weight,Age,Birthdate,Years Pro,College,Total Salary,Signing Bonus,Handedness,portraitId
246,Brown,Preston,MLB,QUICK,74,78,87,81,86,82,...,73,251,24,10/27/92,3,Louisville,3000000,800000,Right,6366
573,Golden,Brittan,WR,-,63,88,89,54,88,60,...,71,186,29,7/20/88,5,W. Texas AM,690000,0,Right,6726
1817,Whalen,Griff,WR,-,66,86,90,55,83,63,...,71,190,27,3/1/90,5,Stanford,775000,0,Right,6153
337,Walker,DeMarcus,LE,-,70,76,84,78,73,62,...,76,280,22,9/30/94,0,Florida State,5087000,1830000,Right,8766
130,Grasu,Hroniss,C,-,69,71,84,78,68,74,...,75,303,26,8/12/91,2,Oregon,3000000,1000000,Right,7144

In [10]:
df.columns

Index(['Last Name', 'First Name', 'Position', 'Dev Trait', 'Overall Rating',
       'Speed', 'Acceleration', 'Strength', 'Agility', 'Awareness', 'Catching',
       'Carrying', 'Throw Power', 'Throw Accuracy', 'Kick Power',
       'Kick Accuracy', 'Run Block', 'Pass Block', 'Tackle', 'Jumping',
       'Kick Return', 'Injury', 'Stamina', 'Toughness', 'Trucking',
       'Elusiveness', 'Ball Carrier Vision', 'Stiff Arm', 'Spin Move',
       'Juke Move', 'Impact Blocking', 'Run Block Strength',
       'Run Block Footwork', 'Pass Block Strength', 'Pass Block Footwork',
       'Power Moves', 'Finesse Moves', 'Block Shedding', 'Pursuit',
       'Play Recognition', 'Man Coverage', 'Zone Coverage',
       'Spectacular Catch', 'Catch In Traffic', 'Route Running', 'Hit Power',
       'Press', 'Release', 'Throw Accuracy Short', 'Throw Accuracy Mid',
       'Throw Accuracy Deep', 'Play Action', 'Throw on the Run', 'Height',
       'Weight', 'Age', 'Birthdate', 'Years Pro', 'College', 'Total Salary',
       'Signing Bonus', 'Handedness', 'portraitId'],
      dtype='object')

In [24]:
pos_list = list(df['Position'].unique())

In [25]:
print(pos_list)

['FB', 'MLB', 'WR', 'RE', 'HB', 'LT', 'FS', 'LE', 'DT', 'SS', 'ROLB', 'TE', 'K', 'CB', 'LOLB', 'RT', 'QB', 'P', 'C', 'LG', 'RG']

In [26]:
pos_list.sort()
print(pos_list)

['C', 'CB', 'DT', 'FB', 'FS', 'HB', 'K', 'LE', 'LG', 'LOLB', 'LT', 'MLB', 'P', 'QB', 'RE', 'RG', 'ROLB', 'RT', 'SS', 'TE', 'WR']